<div class="content">
    <div class="menu-toc">
        <a (click) = "showAll()" ><h3><b>Full Menu</b></h3></a>
        <a (click) = "showApps()" ><h3>Appetizers</h3></a>
        <a (click) = "showSalads()" ><h3>Soups & Salads</h3></a>
        <a (click) = "showPizza()" ><h3>Pizza</h3></a>
        <a (click) = "showPasta()" ><h3>Pasta</h3></a>
        <a (click) = "showSandwiches()" ><h3>Sandwiches</h3></a>
        <a (click) = "showDesserts()" ><h3>Desserts</h3></a>
    </div>
    <section class="menu" id="menu">
        <div *ngIf="selected == 0 || selected == 1" id="apps" class="menu-section">
            <h2>Appetizers</h2>
            <ul>
                <li>
                    <h3>Toasted Ravioli</h3>
                    <div class="menu-price">$8.95</div>
                    <p>Breaded, stuffed with seasoned ground meat blend, served with spicy marinara sauce on the side.</p>
                </li>
                <li class="menu-link" (click)="open(0)">
                    <h3>Buffalo Wings</h3>
                    <div class="menu-price">$9.95</div>
                    <p>Mild / Hot / Blazing / Spicy Garlic / Dry Rub : Choice of blue cheese or ranch on the side</p>
                </li>
                
                <li>
                    <h3>Garlic Cheese Bread</h3>
                    <div class="menu-price">$7.95</div>
                    <p>Crusty Italian bread baked with rich garlic butter and our four cheese blend</p>
                </li>
            </ul>
        </div>
        <hr *ngIf="selected == 0">
        <div *ngIf="selected == 0 || selected == 2" id="salads" class="menu-section">
            <h2>Soups & Salads</h2>
            <ul>
                <li>
                    <h3>Garden Salad</h3>
                    <div class="menu-price">Small $3.95 / Large $7.95</div>
                    <p>Romaine and iceberg lettuce, tomatoes, red onions, cucumbers</p>
                </li>
                <li>
                    <h3>Caesar Salad</h3>
                    <div class="menu-price">Small $4.25 / Large $8.25</div>
                    <p>Romaine lettuce, shredded Parmesan cheese, garlic croutons</p>
                </li>
                <li>
                    <h3>Chef Salad</h3>
                    <div class="menu-price">Small $4.95 / Large $9.25</div>
                    <p>Romaine and iceberg lettuce, shredded cheddar cheese, tomatoes, red onions, turkey, ham</p>
                </li>
                <li>
                    <h3>House Salad</h3>
                    <div class="menu-price">Small $4.95 / Large $9.25</div>
                    <p>Romaine and iceberg lettuce, shredded mozzarella cheese, tomatoes, red onions, pepperoni, ham, banana peppers, black olives</p>
                </li>
            </ul>
        </div>
        <hr *ngIf="selected == 0">
        <div *ngIf="selected == 0 || selected == 3" id="pizza" class="menu-section">
            <h2>Pizza</h2>
            <div class="menu-link" (click)="open(1)">
                <h3>Chicago Deep-Dish</h3>
                <p>Made in true Windy City fashion, with a dense, crumbly crust supporting a thick bottom layer of cheese, "fillings" rather than toppings, and a thick and chunky tomato sauce layered on top.</p>
            </div>
            <p></p>
            <table>
                <tr>
                    <th></th>
                    <th>10" Small</th>
                    <th>14" Large</th>
                </tr>
                <tr>
                    <td><b>Cheese</b></td>
                    <td>$11.95</td>
                    <td>$16.95</td>
                </tr>
                <tr>
                    <td><b>1 Topping</b></td>
                    <td>$13.45</td>
                    <td>$19.45</td>
                </tr>
                <tr>
                    <td><b>2 Topping</b></td>
                    <td>$14.95</td>
                    <td>$21.95</td>
                </tr>
                <tr>
                    <td><b>3 Topping</b></td>
                    <td>$16.45</td>
                    <td>$24.45</td>
                </tr>
                <tr>
                    <td><b>4 Topping</b></td>
                    <td>$17.95</td>
                    <td>$26.95</td>
                </tr>
                <tr>
                    <td><b>5 Topping</b></td>
                    <td>$19.45</td>
                    <td>$29.45</td>
                </tr>
                <tr>
                    <td>(extra Topping)</td>
                    <td>$1.50</td>
                    <td>$2.50</td>
                </tr>
            </table>
            <br>
            <a href="/assets/images/thin-crust1.jpg" rel="lightbox" title="Chicago Thin-Crust Pizza"></a>
            <div class="menu-link" (click)="open(2)">
                <h3>Chicago Thin-Crust</h3>
                <p>Although more known for its deep-dish, the city also boasts a thin crust style which is flaky and crispy, cut into party cut square slices. Get it with Italian sausage if you want the true Chicago experience.</p>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th>10" Small</th>
                    <th>12" Medium</th>
                    <th>14" Large</th>
                    <th>16" X-Large</th>
                </tr>
                <tr>
                    <td><b>Cheese</b></td>
                    <td>$8.95</td>
                    <td>$9.95</td>
                    <td>$12.45</td>
                    <td>$13.95</td>
                </tr>
                <tr>
                    <td><b>1 Topping</b></td>
                    <td>$9.70</td>
                    <td>$10.95</td>
                    <td>$13.95</td>
                    <td>$16.45</td>
                </tr>
                <tr>
                    <td><b>2 Topping</b></td>
                    <td>$10.45</td>
                    <td>$11.95</td>
                    <td>$15.45</td>
                    <td>$18.95</td>
                </tr>
                <tr>
                    <td><b>3 Topping</b></td>
                    <td>$11.20</td>
                    <td>$12.95</td>
                    <td>$16.95</td>
                    <td>$21.45</td>
                </tr>
                <tr>
                    <td><b>4 Topping</b></td>
                    <td>$11.95</td>
                    <td>$13.95</td>
                    <td>$18.45</td>
                    <td>$23.95</td>
                </tr>
                <tr>
                    <td><b>5 Topping</b></td>
                    <td>$12.70</td>
                    <td>$14.95</td>
                    <td>$19.95</td>
                    <td>$26.45</td>
                </tr>
                <tr>
                    <td>(extra Topping)</td>
                    <td>$0.75</td>
                    <td>$1.00</td>
                    <td>$1.50</td>
                    <td>$2.00</td>
                </tr>
            </table>
            <br>
            <div class="menu-link" (click)="open(3)">
                <h3>New York Hand-Tossed</h3>
                <p>Classic hand-tossed crust bakes up crisp yet pliable so you get those floppy foldable slices, with layered fresh tangy sauce and enough cheese to keep you satisfied without being overwhelming.</p>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th>16" X-Large</th>
                    <th>20" Yooge</th>
                </tr>
                <tr>
                    <td><b>Cheese</b></td>
                    <td>$13.95</td>
                    <td>$19.95</td>
                </tr>
                <tr>
                    <td><b>1 Topping</b></td>
                    <td>$16.45</td>
                    <td>$22.95</td>
                </tr>
                <tr>
                    <td><b>2 Topping</b></td>
                    <td>$18.95</td>
                    <td>$25.95</td>
                </tr>
                <tr>
                    <td><b>3 Topping</b></td>
                    <td>$21.45</td>
                    <td>$28.95</td>
                </tr>
                <tr>
                    <td><b>4 Topping</b></td>
                    <td>$23.95</td>
                    <td>$31.95</td>
                </tr>
                <tr>
                    <td><b>5 Topping</b></td>
                    <td>$26.45</td>
                    <td>$34.95</td>
                </tr>
                <tr>
                    <td>(extra Topping)</td>
                    <td>$2.00</td>
                    <td>$3.00</td>
                </tr>
            </table>
            <br>
            <div class="menu-link" (click)="open(4)">
                <h3>Sicilian Square Pie</h3>
                <p>Baked in a square (or rectangular) well-oiled pan, making the crust nice and crispy on the bottom yet chewy and thick enough to support a liberal amount of sauce, cheese, and toppings.</p>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th>9 x 9" Small</th>
                    <th>13 x 9" Medium</th>
                    <th>15 x 12" Large </th>
                </tr>
                <tr>
                    <td><b>Cheese</b></td>
                    <td>$9.95</td>
                    <td>$10.95</td>
                    <td>$13.45</td>
                </tr>
                <tr>
                    <td><b>1 Topping</b></td>
                    <td>$10.70</td>
                    <td>$11.95</td>
                    <td>$14.95</td>
                </tr>
                <tr>
                    <td><b>2 Topping</b></td>
                    <td>$11.45</td>
                    <td>$12.95</td>
                    <td>$16.45</td>
                </tr>
                <tr>
                    <td><b>3 Topping</b></td>
                    <td>$12.20</td>
                    <td>$13.95</td>
                    <td>$17.95</td>
                </tr>
                <tr>
                    <td><b>4 Topping</b></td>
                    <td>$12.95</td>
                    <td>$14.95</td>
                    <td>$19.45</td>
                </tr>
                <tr>
                    <td><b>5 Topping</b></td>
                    <td>$13.70</td>
                    <td>$15.95</td>
                    <td>$20.95</td>
                </tr>
                <tr>
                    <td>(extra Topping)</td>
                    <td>$0.75</td>
                    <td>$1.00</td>
                    <td>$1.50</td>
                </tr>
            </table>
            <br>
            <div class="menu-link" (click)="open(5)">
                <h3>St. Louis Thin-Crust</h3>
                <p>In contrast to Chicago's thin crust, this pizza has an unleavened cracker crust and is topped with St. Louis' own signature Provel cheese rather than the usual mozzarella. Like any proper thin-crust pizza, it's cut into squares.</p>
            </div>            
            <table>
                <tr>
                    <th></th>
                    <th>10" Small</th>
                    <th>12" Medium</th>
                    <th>14" Large</th>
                    <th>16" X-Large</th>
                </tr>
                <tr>
                    <td><b>Cheese</b></td>
                    <td>$8.95</td>
                    <td>$9.95</td>
                    <td>$12.45</td>
                    <td>$13.95</td>
                </tr>
                <tr>
                    <td><b>1 Topping</b></td>
                    <td>$9.70</td>
                    <td>$10.95</td>
                    <td>$13.95</td>
                    <td>$16.45</td>
                </tr>
                <tr>
                    <td><b>2 Topping</b></td>
                    <td>$10.45</td>
                    <td>$11.95</td>
                    <td>$15.45</td>
                    <td>$18.95</td>
                </tr>
                <tr>
                    <td><b>3 Topping</b></td>
                    <td>$11.20</td>
                    <td>$12.95</td>
                    <td>$16.95</td>
                    <td>$21.45</td>
                </tr>
                <tr>
                    <td><b>4 Topping</b></td>
                    <td>$11.95</td>
                    <td>$13.95</td>
                    <td>$18.45</td>
                    <td>$23.95</td>
                </tr>
                <tr>
                    <td><b>5 Topping</b></td>
                    <td>$12.70</td>
                    <td>$14.95</td>
                    <td>$19.95</td>
                    <td>$26.45</td>
                </tr>
                <tr>
                    <td>(extra Topping)</td>
                    <td>$0.75</td>
                    <td>$1.00</td>
                    <td>$1.50</td>
                    <td>$2.00</td>
                </tr>
            </table>
        </div>
        <hr *ngIf="selected == 0">
        <div *ngIf="selected == 0 || selected == 4" id="pasta" class="menu-section">
            <h2>Pasta</h2>
            <ul>
                <li class="menu-link" (click)="open(6)">
                    <h3>Baked Mostaccioli</h3>
                    <div class="menu-price">$10.95</div>
                    <p>w/ Italian Sausage: $13.95</p>
                </li>
                <li>
                    <h3>Spaghetti and Meatballs</h3>
                    <div class="menu-price">$11.95</div>
                    <p>Lasciate ogne speranza, voi ch'intrate</p>
                </li>
                <li>
                    <h3>Spaghetti with Pesto</h3>
                    <div class="menu-price">$9.95</div>
                    <p>w/ Chicken: $12.45</p>
                </li>
                <li>
                    <h3>Fettuccine Alfredo</h3>
                    <div class="menu-price">$10.95</div>
                    <p>w/ Chicken $13.45</p>
                </li>
            </ul>
        </div>
        <hr *ngIf="selected == 0">
        <div *ngIf="selected == 0 || selected == 5" id="sandwiches" class="menu-section">
            <h2>Sandwiches</h2>
            <ul>
                <li>
                    <h3>"Beppe"</h3>
                    <div class="menu-price">$8.95</div>
                    <p>Roast beef, smoked cheddar, onion, banana peppers, creamy horseradish sauce</p>
                </li>
                <li>
                    <h3>"Gianni"</h3>
                    <div class="menu-price">$8.95</div>
                    <p>Ham, turkey, bacon, swiss, lettuce, tomato, Cajun remoulade</p>
                </li>
                <li>
                    <h3>"Enrico"</h3>
                    <div class="menu-price">$8.95</div>
                    <p>Ham, swiss, lettuce, onion, spicy brown mustard</p>
                </li>
                
                    <li class="menu-link" (click)="open(7)">
                    <h3>"Arturo"</h3>
                    <div class="menu-price">$8.95</div>
                    <p>Salami, capicolla, ham, mozzarella, lettuce, tomato, onion, banana peppers, oregano, vinaigrette</p>
                </li>
            </ul>
        </div>
        <hr *ngIf="selected == 0">
        <div *ngIf="selected == 0 || selected == 6" id="desserts" class="menu-section">
            <h2>Desserts</h2>
            <ul>
                <li>
                    <h3>Cheesecake</h3>
                    <div class="menu-price">$8.95</div>
                    <p>Choice of chocolate or strawberry topping</p>
                </li>
                <li class="menu-link" (click)="open(8)">
                    <h3>Tiramis&#249; </h3>
                    <div class="menu-price">$8.95</div>
                    <p></p>
                </li>
                <li>
                    <h3>Gelato</h3>
                    <div class="menu-price">$5.95</div>
                    <p>Vanilla/ Chocolate / additional flavours vary by season</p>
                </li>
                <li>
                    <h3>Cannoli</h3>
                    <div class="menu-price">$7.95</div>
                    <p></p>
                </li>
            </ul>
        </div>
    </section>
</div>
