<div class="content">
    <section>
        <h2>Map View</h2>
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD2a7c32OrcyWS7pVPCoUryPyiVHzmd4XA
&q=2120+olive+st+st+louis+mo+63103
&attribution_source=Google+Maps+Embed+API" style="margin: 0px 65px 0px; border-color: gold; border-style: inset;" width="550px" height="400px">
        </iframe>
    </section>
    <aside>
        <img src="/assets/images/placeholder-restaurant.jpg" width="200px" alt="Just a placeholder image; this is obviously not Famous Original Ray's" />
        <div style="text-align: left;">2120 Olive St
            <br>St. Louis, MO 63103
            <br>(314)555-1349
        </div>
        <br>
            <h3>Hours</h3><b>Monday to Thursday:</b>
            <br>11:00am-9pm
            <br><b>Friday & Saturday:</b>
            <br>11:00am-11pm
            <br><b>Sunday:</b>
            <br><i>Closed</i>            
    </aside>
</div>

