<div class="content">
    <div id="stupid-box">
    <form id="order-pizza-build" *ngIf="!checkout">
        <div id="order-top">
            <div class="select-box" id="order-style">
                <label for="style" class="label-head">Crust Style</label>
                <div *ngFor="let choice of styleChoices" class="style-choice">
                    <input name="style" type="radio" 
                    value={{choice}} (change)="styleSelect($event)">
                    <label for={{choice}} class="label-body">{{choice}}</label>
                </div>
            </div>
            <div *ngIf="piz" class="select-box" id="order-size">
                <label for="size" class="label-head">Size</label>
                <div *ngFor="let size of sizeChoices()" class="size-choice">
                    <input name="size" type="radio" value={{size}} (change)="sizeSelect(size)">
                    <label for={{size}} class="label-body">{{getSize(size, piz.style)}}</label>
                </div>
            </div>
        </div>
        <div style="min-height: 20px; clear:both;"></div>
        <div id="order-bottom">
            <div id="toppings" class="select-box" *ngIf="piz">
                <label for="toppings" class="label-head">Toppings</label>
                <div *ngFor="let topping of toppingChoices" class="topping-choice">
                    <input type="checkbox" (change)="toppingSelect(topping, $event.target.checked)" />
                    <label for="{{topping}}" class="label-body">{{topping}}</label>
                </div>
            </div>
            <br>
            <table id="delivery-carryout">
                <tr>
                    <td>
                        <input name="delivery-carryout" type="radio" value="delivery"
                        (click)="deliverySelect(true)">
                        <label for="delivery">Delivery</label>
                    </td>
                    <td>
                        <input name="delivery-carryout" type="radio" value="carryout"
                        (click)="deliverySelect(false)">
                        <label for="carryout">Carryout</label>
                    </td>
                </tr>
            </table>
            <br>
            <button id="btnAdd" type="button" 
            [disabled]="piz == null || piz.size == null" (click)="addPizza()">
                Add to Order
            </button>
            <button id="btnCheckout" type="button" [disabled]="pizzas.length === 0 || delivery === null" (click)="toggleCheckout(true)">Checkout</button>
        </div>
    </form>
    </div>
    <form *ngIf="checkout" [formGroup]="billingInfo" id="order-checkout" (submit)="submitOrder()">
        <div>
            <table id="order-address">
                <tr>
                    <td>
                        <label for="firstname">First Name*</label>
                    </td>
                    <td>
                        <input name="firstname" type="text" formControlName="firstName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lastname">Last Name*</label>
                    </td>
                    <td>
                        <input name="lastname" type="text" formControlName="lastName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address1">Address 1*</label>
                    </td>
                    <td>
                        <input name="address1" type="text" formControlName="address1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address2">Address 2</label>
                    </td>
                    <td>
                        <input name="address2" type="text" formControlName="address2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="city">City*</label>
                    </td>
                    <td>
                        <input name="city" type="text" formControlName="city">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="state-province">State or Province*</label>
                    </td>
                    <td>
                        <input name="state-province" type="text" formControlName="state">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="zip">Zip*</label>
                    </td>
                    <td>
                        <input name="zip" type="text" formControlName="zip">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="phone-number">Phone Number*</label>
                    </td>
                    <td>
                        <input name="phone-number" type="tel" data-mask="(000) 000-0000" formControlName="phoneNum">
                    </td>
                </tr>
            </table>
            <table id="order-credit-card-type">
                <tr>
                    <td>
                        <input name="cardType" type="radio" value="visa" formControlName="cardType">
                        <label for="visa">Visa</label>
                    </td>
                    <td>
                        <input name="cardType" type="radio" value="master-card" formControlName="cardType">
                        <label for="master-card">Master Card</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="cardType" type="radio" value="discover" formControlName="cardType">
                        <label for="discover">Discover</label>
                    </td>
                    <td>
                        <input name="cardType" type="radio" value="american-express" formControlName="cardType">
                        <label for="american-express">American Express</label>
                    </td>
                </tr>
            </table>
            <table id="order-credit-card-detail">
                <tr>
                    <td>
                        <label for="creditCard">Card #</label>
                    </td>
                    <td>
                        <input name="cardNum" type="text" formControlName="cardNum">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="expirationDate">Expiration</label>					
                        
                    </td>
                    <td>
                        <select name="cardExpMonth" formControlName="cardExpMonth">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select name="cardExpYear" formControlName="cardExpYear">
                            <option *ngFor=""></option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cvc">CVV</label>
                    </td>
                    <td>
                        <input name="cvc" type="text" formControlName="cvc">
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both;"> 
            <br>
            <button id="btnSubmit" type="submit" 
            [disabled]="billingInfo.pristine || billingInfo.invalid">Submit Order</button>
            <button id="btnBack" type="button" (click)="toggleCheckout(false)">Back</button>
        </div>
    </form>
    <div *ngFor="let pizza of pizzas" class="order-item">
        <div class="order-item-name">
            <h3>BYO Pizza</h3>${{getPrice(pizza).toFixed(2)}}
        </div>
        <div class="order-item-desc">
            <p>{{getSize(pizza.size, pizza.style)}}<br>{{pizza.style}}<br>{{getToppings(pizza)}}</p>
        </div>
        <div class="order-item-delete" (click)="removePizza(pizza)">
            <img class="x-delete" src="/assets/images/close.png">
        </div>
    </div>
    <div *ngIf="pizzas.length > 0" id="order-total-box" style="display: block;">
        <div class="order-total-sub-box">
            <h3>Subtotal</h3>
            <p>${{subTotal().toFixed(2)}}</p>
        </div>
        <div class="order-total-sub-box">
            <h3>Taxes</h3>
            <p>${{taxes().toFixed(2)}}</p>
        </div>
        <div *ngIf="delivery" class="order-total-sub-box">
            <h3>Delivery</h3>
            <p>$4.00</p>
        </div>
        <div class="order-total-sub-box">
            <h3 style="font-weight: bold">Total</h3>
            <p style="font-weight: bold">${{total().toFixed(2)}}</p>
        </div>
    </div>   
</div>

